body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#bracket {
    display: flex;
    flex-direction: column;
}

.match {
    margin: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
